build/classes/userinfo/UserInfo.class
src/userinfo/UserInfo.java
src/userinfo/UserInfo_temp.java
build/classes/userinfo/UserInfo_temp.class
*.data
*.jpg
build/classes/userinfo/TwitterInfo.class
src/userinfo/TwitterInfo.java
*.class
