<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${name}"></span>

<div th:unless="${playerInfo}">
    There is no user
</div>

<div th:if="${playerInfo}">
    <img th:src="@{result/} + ${playerInfo.id}+ @{/merged.jpg}">
    player id : <span th:text="${playerInfo.id}"></span>
    player name : <span th:text="${playerInfo.name }"></span>
    player rank : <span th:text="${playerInfo.rank }"></span>
    <div th:each="sum_element : ${playerInfo.summon }">
        <div th:each="sum : ${sum_element }">
            summon = <span th:text="${sum }"></span>
            <img alt="" th:src="${sum }">

        </div>
        <br>
    </div>

    <div th:each="sum_levels : ${playerInfo.summonLevel }">
        <div th:each="sum_level : ${sum_levels }">
            lvl = <p th:text="${sum_level }"></p><br>
        </div>
    </div>
    <div th:each="sum_names : ${playerInfo.summonName }">
        <div  th:each="sum_name : ${sum_names }">
            name = <p th:text="${sum_name }"></p><br>
        </div>
    </div>
</div>
</body>
</html>