<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${name}"></span>

<div th:unless="${playerInfo}">
    There is no user
</div>

<div th:if="${playerInfo}">
    player id : <p th:text="${playerInfo.id}"></p>
    player name : <p th:text="${playerInfo.name }"></p>
    player name : <p th:text="${playerInfo.rank }"></p>
    <div th:each="sum_element : ${playerInfo.summon }">
        <div th:each="sum : ${sum_element }">
            summon = <p th:text="${sum }"></p>
            <img alt="" th:src="${sum }">

        </div>
        <br>
    </div>
    <div th:each="sum_levels : ${playerInfo.summonLevel }">
        <div th:each="sum_level : ${sum_levels }">
            lvl = <p th:text="${sum_level }"></p><br>
        </div>
    </div>
    <div th:each="sum_names : ${playerInfo.summonName }">
        <div  th:each="sum_name : ${sum_names }">
            name = <p th:text="${sum_name }"></p><br>
        </div>
    </div>
</div>
</body>
</html>