<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<div th:unless="${playerID}">
    There is no user
</div>

<div th:if="${playerID}">
    <img th:src="'data:image/jpeg;base64,'+${playerImg}" height="600" >
    <br>
    <a download="Profile.jpg" th:href="'data:image/jpeg;base64,'+${playerImg}">다운로드!</a>
    <br>
    <form method="post" th:action="@{/sendTweet}">
        <input type="hidden" name="id" th:value="${playerID}">
        <button type="submit" value="search">트위터로 전송하기</button>
    </form>
<!--    <a th:src="@{result/} + ${playerID}+ @{/merged.jpg}">이미지 다운로드</a>-->
<!--    player id : <span th:text="${playerInfo.id}"></span>-->
<!--    player name : <span th:text="${playerInfo.name }"></span>-->
<!--    player rank : <span th:text="${playerInfo.rank }"></span>-->
<!--    <div th:each="sum_element : ${playerInfo.summon }">-->
<!--        <div th:each="sum : ${sum_element }">-->
<!--            summon = <span th:text="${sum }"></span>-->
<!--            <img alt="" th:src="${sum }">-->

<!--        </div>-->
<!--        <br>-->
<!--    </div>-->

<!--    <div th:each="sum_levels : ${playerInfo.summonLevel }">-->
<!--        <div th:each="sum_level : ${sum_levels }">-->
<!--            lvl = <p th:text="${sum_level }"></p><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:each="sum_names : ${playerInfo.summonName }">-->
<!--        <div  th:each="sum_name : ${sum_names }">-->
<!--            name = <p th:text="${sum_name }"></p><br>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
<script>
    function base64ToImage(base64){

    }

</script>
</html>